<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h4>num {{session['plus1']}}</h4>
    <a href="/"><button>Plus 1</button></a>
    <a href="/reset"><button>Reset</button></a> 
    <a href="/x2"><button>Plus 2</button></a>


    <div>
        <form action="/choose_num" method="POST">
            <label>increment by</label>
            <input type="number" name="incrementer">
            <!-- make sure you specify the type "number" -->
            <button type="submit">Custom Increment</button>
            <!-- submit button above -->
        </form>
    </div>
    
    <!-- anchor tag required for button refresh page -->
</body>
</html>